body {
  font-family: Times New Roman;
}

#project-container {
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

iframe {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;        
}

.clear {
  clear: both;
}