body {
  font-family: Times New Roman;
}

#project-container {
  margin: 0 auto; /* centers project div */
  width: 100%; /* adds space on either side */
  max-width: 600px; /* keeps div from getting too wide */
}